@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.App {
  text-align: center;
}

.container {
  font-family: "sans-serif monospace";
}

.homepageLogo {
  margin-bottom: 2px;
  padding-right: 4px;
}

.emailLinkGen {
  height: 100%;
  overflow: hidden;
}
